<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/datepicker.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">

        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{%url home%}">Defter</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="{% url home %}">Şirketler</a></li>
                            <li><a href="{% url company-list-overlimit %}">Limiti aşanlar</a></li>
                            <li><a href="{% url company-create %}">Yeni Şirket</a></li>
                            {% if user.is_superuser %}
                                <li><a href="{% url user-create %}">Yeni Kullanıcı</a></li>
                                <li><a href="{% url company-query %}">Listele</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li><a href="{% url logout %}"><strong>{{ user.username }}</strong> Çıkış</a></li>
                            {% else %}
                                <li><a href="{% url login %}">Giriş</a></li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}

           <!-- <footer>
                <p>&copy; Company 2012</p>
            </footer>
-->
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}js/vendor/bootstrap-datepicker.js"></script>

        <script src="{{STATIC_URL}}js/main.js"></script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
