{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        {{form.errors}}
    {% endif %}
    <form method="POST" action="{{ form.action }}" autocomplete="off">
        {% csrf_token %}
        <div class="controls controls-row">
        {{ form.name.label_tag }}
        {{ form.name }}
        </div>
        <div class="controls controls-row">
        {{ form.address.label_tag }}
        {{ form.address }}
        </div>
        <div class="controls controls-row">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="controls controls-row">
        {{ form.vergidairesi.label_tag }}
        {{ form.vergidairesi }}
        </div>
        <div class="controls controls-row">
        {{ form.vergino.label_tag }}
        {{ form.vergino }}
        </div>
        <div class="controls controls-row">
        {{ form.phone.label_tag }}
        {{ form.phone }}
        {{ form.fax.label_tag }}
        {{ form.fax }}
        {{ form.limit.label_tag }}
        </div>
        <div class="controls controls-row">
            <label>Limit</label>
            <input class="span2" type="text" name="limit_tam" value="{{ form.limit_tam.value|default_if_none:'0' }}" />
            <input class="span1" type="text" name="limit_kusur" value="{{ form.limit_kusur.value|default_if_none:'00' }}" />
        </div>

        <input class="btn btn-primary" type="submit" value="Kaydet"/>
        <a class="btn" href="{% url home %}">İptal</a>
    </form>
{% endblock %}