{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <ul>
        {% for error in form.errors %}
            <li><p class="text-error"> {{ error }}</p></li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" action="{{ form.action }}" autocomplete="off">
        {% csrf_token %}
        <div class="controls controls-row">
            <label class="span2">Oluşturulma Tarihi (Gün/Ay/Yıl)</label>
            <input class="span2 datepicker" type="text" name="created_at" value="{{ form.created_at.value|date:"d/m/Y" }}" />
        </div>
        <div class="controls controls-row">
            <label class="span2">Tip</label>
            <select class="span2" name="tip">
                <option value="N">Nakit</option>
                <option value="C">Çek</option>
                <option value="S">Senet</option>
                <option value="P">Pos</option>
            </select>
        </div>
        <div class="controls controls-row">
            <label class="span2">Borç</label>
            <input class="span2" type="text" name="borc_tam" value="{{ form.borc_tam.value|default_if_none:'0' }}" />
            <input class="span1" type="text" name="borc_kusur" value="{{ form.borc_kusur.value|default_if_none:'00' }}" />
        </div>
        <div class="controls controls-row">
            <label class="span2">Alacak</label>
            <input class="span2" type="text" name="alacak_tam"  value="{{ form.alacak_tam.value|default_if_none:'0' }}"/>
            <input class="span1" type="text" name="alacak_kusur"  value="{{ form.alacak_kusur.value|default_if_none:'00' }}"/>
        </div>
        <div class="controls controls-row">
            <label class="span2">Not</label>
            <input class="span5" type="text" name="note" value="{{ form.note.value|default_if_none:"" }}" />
        </div>
        <button class="btn btn-primary" type="submit">Kaydet</button>
        <a class="btn" href="{% url company-detail company.id %}">İptal</a>
    </form>
{% endblock %}
