{% extends 'base.html' %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <p>Şirket: {{ object.name }}</p>
        <p><strong>Bu şirketi silmek istediğinize emin misiniz?</strong></p>
        <button type="submit" class="btn btn-primary">Evet</button>
        <a class="btn" href="{% url home %}">Hayır</a>
    </form>

{% endblock %}